body {
    text-align: center;
    font-family: Arial, sans-serif;
}

input#number {
    margin: 1rem 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #616060;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
}

input[type="submit"] {
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    padding: 8px 25px;
    vertical-align: middle;
    cursor: pointer;
    background-color: #005f3c;
    color: #ffffff;
    width: 100%;
}

.background-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    max-width: 70%;
    margin: auto;
    padding: 1rem;
    border: 2px solid black;
}

.content {
    padding: 3rem 1rem;
}

.content h2 {
    margin-top: 0;
}

.background-container img {
    width: 100%;
}

.shrink-message {
    animation-name: shrink;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite; 
}

@media screen and (min-width:800px) {
    input[type="submit"], input#number {
        width: auto;
    }
}